<!DOCTYPE html>
<html lang="en">
  <head>
	<%- include('partials/head'); %>
  </head>
<body>
<!-- Header====================================================================== -->
  <%- include('partials/header'); %>
<!-- Header End====================================================================== -->

<!-- slider ================================================== --> 
 
<!-- slider end=============================================== -->

<%- body%> 

<!-- Footer begin================================================================== -->
<%- include('partials/footer'); %>
<!-- Footer end================================================================== -->

<!-- JS end================================================================== -->
<%- include('partials/css_js'); %>
<!-- JS end================================================================== -->


</body>
</html>